.aboutMe{

    width: 40%;
    font-family: "eskapade",serif;
    line-height: 27px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutActive{
    background-color: var(--cream);
}
@media screen and (max-width: 900px)  {
    .aboutMe{
        width: 70%;
    }
}