.downArrow{
    width:20px;
    transition: opacity .5s;
}

.downArrowContainer{
    position:relative;
    padding: 25px 25px;
}

.bottomArrow{
    position: absolute;
    transform: rotate(-180deg);
    top: 34px;
    left: 25px;
}