


.navigation{
    position:fixed;
    top:85px;
    width:240px;
    z-index:1;
    transition: width 1s;
  }
  
.navigation:hover{
  width: 400px;
}

  .navoptions{
    position:absolute;
    top:85px;
    left:70px;
  }
  
  .navoptions a{ 
    text-decoration: none;
  }
  
  .option{
    padding:5px 20px 0px 20px;
    height: 80px;
    width:min-content;
    text-decoration: none;
    transition: all 0.4s;
    min-width: 155px;
    text-align: left!important;
  }

  .option:hover{
    padding-left: calc(100%);
    text-align: right!important;
    transition: all 0.4s;
  }
  
  .navrainbows{
    height: 100%;
    width:100%;
    display:flex;
  }
  
  .leftnavrainbow{
    width:70px;
    height:calc(100vh - 65px);
    background-image:repeating-linear-gradient(to bottom, #0A70D5 0px, #0A70D5 84px, #5FD53B 85px, #5FD53B 169px, #52A9FF 170px, #52A9FF 254px, #F7A0E9 255px, #F7A0E9 339px, #CC3FB6 340px, #CC3FB6 424px, #F58514 425px, #F58514 509px, #31A00F 510px, #31A00F 594px, #E6BE38 595px, #E6BE38 679px)
  }
  
  .rightnavrainbow{
    width:110px;
    height:calc(100vh - 85px);
    background-image:repeating-linear-gradient(to bottom, #F7A0E9 0px, #F7A0E9 84px, #CC3FB6 85px, #CC3FB6 169px, #F58514 170px, #F58514 254px, #31A00F 255px, #31A00F 339px, #E6BE38 340px, #E6BE38 424px, #0A70D5 425px, #0A70D5 509px, #5FD53B 510px, #5FD53B 594px, #52A9FF 595px, #52A9FF 679px)
  }

  @media screen and (max-width: 900px)  {
    .navigation{
      top:0px;
      width:100%;
      z-index:1;
      transition:top .3s;
    }

    .navigation:hover{
      width:100%;
    }
    .navoptions{
      width:100%;
      top:13vw;
      left:0px;
    }

    .navoptions{
      width:100%;
      top: calc((70vw)*-1);
      transition:top .3s;
    }

    .option{
      padding: 5px 0px 0px 0px;
      width:100%;
      height:13vw;
      text-align: center!important;
      background-color: antiquewhite!important;
      color:black;
    }

    .mobileNavActive{
      transition:top .3s;
      top:13vw!important;
    }

    .option:hover{
      padding-left: 15px;
    }
    .navrainbows{
      display:none;
    }
    .quicknav{
      display:none!important;
    }
  }