
.navigation{
    position:fixed;
    top:100px;
    width:240px;
    z-index:1;
    transition: width 1s;
  }
  
.navigation:hover{
  width: 400px;
}

  .navoptions{
    position:absolute;
    top:100px;
    left:80px;
  }
  
  .navoptions a{
    text-decoration: none;
  }
  
  .option{
    height:100px;
    padding:0px 35px;
    width:min-content;
    text-decoration: none;
  }
  
  .navrainbows{
    height: 100%;
    width:100%;
    display:flex;
  }
  
  .leftnavrainbow{
    width:80px;
    height:calc(100vh - 100px);
    background-image:repeating-linear-gradient(to bottom, #0A70D5 0px, #0A70D5 99px, #5FD53B 100px, #5FD53B 199px, #52A9FF 200px, #52A9FF 299px, #F7A0E9 300px, #F7A0E9 399px, #CC3FB6 400px, #CC3FB6 499px, #F58514 500px, #F58514 599px, #31A00F 600px, #31A00F 699px, #E6BE38 700px, #E6BE38 799px)
  }
  
  .rightnavrainbow{
    width:160px;
    height:calc(100vh - 100px);
    background-image:repeating-linear-gradient(to bottom, #F7A0E9 0px, #F7A0E9 99px, #CC3FB6 100px, #CC3FB6 199px, #F58514 200px, #F58514 299px, #31A00F 300px, #31A00F 399px, #E6BE38 400px, #E6BE38 499px, #0A70D5 500px, #0A70D5 599px, #5FD53B 600px, #5FD53B 699px, #52A9FF 700px, #52A9FF 799px)
  }

  @media screen and (max-width: 1024px)  {
    .navigation{
      display:none;
    }
    .quicknav{
      display:none!important;
    }
  }